<div id="<%= dom_id contum %>">
  <p>
    <strong>Item:</strong>
    <%= contum.item_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= contum.cliente_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= contum.total %>
  </p>

</div>
