<div id="<%= dom_id dono %>">
  <p>
    <strong>Nome:</strong>
    <%= dono.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= dono.cpf %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= dono.cnpj %>
  </p>

</div>
