<div id="<%= dom_id pedido %>">
  <p>
    <strong>Item:</strong>
    <%= pedido.item_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= pedido.cliente_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= pedido.total %>
  </p>

</div>
