<div id="<%= dom_id item %>">
  <p>
    <strong>Preco:</strong>
    <%= item.preco %>
  </p>

  <p>
    <strong>Conta:</strong>
    <%= item.conta_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= item.nome %>
  </p>

</div>
